* {
    display: flex;
    flex-direction: column;
    
}

#header {
    height: 150px;
    width: 100%;
}

#calcContainer {
    height: 500px;
    width: 500px;
    margin: auto;
    
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 5px solid black;
    
    height: 500px;
    width: 500px;
    
}
#top1,
#secondRow,
#thirdRow,
#fourthRow,
#fifthRow,
#sixthRow {
    flex-direction: row;
    flex-grow: 1;
    border-left: 2.5px solid black;
    
}
#answer {
    width: 450px;
    border-top: 2.5px solid black;
}
button {
    width: 150px;
    justify-content: center;
    align-items: center;
    
}

#top1{
    
    
}
#thirdRow,
#fourthRow,
#fifthRow,
#sixthRow  {

}